@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
}

.footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-container {
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 1500px;
    
}

.link-container {
    display: flex;
    gap: 6rem;
}

.social-logo {
    height: 32px;
}

.line {
    background-color: white;
    height: 2px;
    width: 15rem;
    margin-top: 1rem;
}

.left {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.right {
    animation: 1s ease-out 0s 1 slideInFromRight;
}