body {
  background-image: url("../../public/image/vector-background2.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
}


h1 {
    font-family: 'Patrick Hand', cursive;
    display: flex;
    justify-content: center;
    font-size:7rem;
    margin-top: 5%;
    color: white;
  }
  
  h2 {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 5rem;
    font-family: 'Patrick Hand', cursive;
    color: white;
  }