@import "react-alice-carousel/lib/alice-carousel.css";

.tech-logo {
    width: 256px;
    
}

.carousel-container {
    position: absolute;
    left: 15%;
    bottom: 0;
}

.alice-carousel {
    width: 40rem;
}