body {
    background-image: url("../public/image/home-background4.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
}


h1 {
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    font-size:7rem;
    margin-top: 5%;
    color: black;
  }
  
  h2 {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 5rem;
    font-family: 'Anton', sans-serif;
    color: black;
  }