.project-card {
    
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: 75vh;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.card {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 30%;
    padding: 1.8rem;
    width: 15%;
    height: 15rem;
}

.card-name {
    font-size: 2rem;
    color: white;
    padding-bottom: 1rem;
    text-align: center;
}

.card-description {
    text-align: center;
    font-size: 1rem;
    color: white;
    padding-bottom: 1rem;
}

.card-link {
       
}